*{
        margin:0;
        padding:0;
        font-family:sans-serif;
        box-sizing:border-box;
       }
body{
margin:0 100px;
background-image:url("imgA.jpg");
background-repeat:no-repeat;
background-size:100%;


}
.nav{
width:100%;
display:flex;
justify-content: space-between;
align-items: center;s
padding: 30px 0;
}
.nav .logo h1{
font-weight: 1000;
font-family: sans-serif;
color:white;
}

.nav .logo b{
color:red;
}

.nav ul{
display:flex;
list-style:none;
}

.nav ul li{
margin-right: 100px;
}
.nav ul li a{
text align:center;

text-decoration:None;
color:white;
font-weight: 100;
font-family: sans-serif;
font-size: 20px;


}

.contact-box{
background:white;
display:flex;
}

.contact-right{
flex-basis:40%;
padding:40px;
background:white;
color:white;
}

input{
padding : 10px 20px;
cursor:pointer;
font-weight:600;
}

.signin{
background-color: orange;
color:black;
outline:none;
border:none;
border-radius:5px;
}


.content{
display:grid;
grid-template-columns: 50% auto;
gap: 30px;
margin-top: 120px;
align-items: center;
justify-content:space-between;
width:100%;
}

.content .content-left{
display: block;
width: 100%;
}

.content .content-left .info{
   max-width: 100%;
   display: flex;
   flex-direction:column;
}

.content .content-left .info h2{
       font-size: 40px;
       font-family: sans-serif;
       margin-bottom: 30px;
}

.content .content-left .info p{
         font-size:20px;
         line-height:2pc;
         margin-bottom: 30px;
         font-family:sans-serif;
}

.content .content-left button{
         padding: 10px 23px;
         background-color:Orange;
         color: maroon;
         border-radius: 5px;
         border:none;
         cursor: pointer;
}

.content .content-right{
         display: block;
         width: 100%;
}
.content .content-right img{
         width: 400px;
         height: auto;
         position: relative;
         user-select: none;
         animation: rotate 10s linear infinite;
}
h2{
color:white;
}
p{
color:white;



h1{
        text-align:center;
        color:Maroon;
        padding:20px;

      }
     nav{
          background-color:orange;
          display:grid;
          place-items:center;
       }
     nav ul{
            list-style-type:none;
.AboutUs{
background-color: orange;
color:black;
outline:none;
border:none;
border-radius:5px;
}

     }
     nav ul a{
               display:inline-block;
               padding:20px;
               text-decoration:none;
               color:#000;
               transition:0.2s ease-in;
               font-size: 18px;
          }

           
     nav ul a:hover{
                    background-color:black;
                    color:white;
                   }

 h2{
color:white;
}
p{
color:white;  
}

